<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <title>Guest Wi-Fi Başvuru Formu</title>
</head>
<body>
    <h2>Guest Wi-Fi Başvuru Formu</h2>
    <form method="POST" action="/bildir">
        <label>Ad:</label><br>
        <input type="text" name="ad" required /><br><br>

        <label>Soyad:</label><br>
        <input type="text" name="soyad" required /><br><br>

        <label>TC Kimlik No:</label><br>
        <input type="text" name="tc" required /><br><br>

        <input type="submit" value="Başvur" />
    </form>
</body>
</html>
0

